*{
	font-family: Source Sans Pro;
}
.uni-header{
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-color: #e6e5e1;
}

.uni-header-top{
	margin-top: 2em;
	font-weight: bolder;
	font-size: 1.25em;
}

.uni-title{
	margin-top: .95em;


}

.uni-main-title{
	text-align: right;
	font-size: 70px;
	font-family: Source Sans Pro;
	font-weight: bolder;
	color:#212121;
}

.uni-header-mid{
	margin-top: 390px;
}

.uni-title-details{
	padding: 40px 0 55px 0;
	text-align: right;
	color:#212121;
}

.uni-btn{
	border: 2px solid #212121;
	text-align: center;
	padding: 10px 10px 10px 10px;
	margin-bottom: 185px; 
}

/*second section*/

.uni-whoWhy{
	text-align: center;
	margin-top: 100px;
}

.uni-intro-title{
	font-family: Source Sans Pro;
	font-size: 27px;
	color: #212121;
	font-weight: bold;
	padding-top: 20px;
	margin-bottom: 80px;
}

.uni-intro-details{
	font-size:16px; 
	line-height: 30px;
	margin-bottom: 120px;
}

/*3rd section: Service*/

.uni-service{
	padding-top: 80px;
	background-color: #efefef;
	padding-bottom: 115px;
}

.wow-title{
	margin-top: 30px;
	font-size: 18px;
	font-weight: bold;
}
.wow-details{
	margin-top: 35px;
	line-height: 30px;
	font-size: 16px;
	word-spacing: 2px;
}

/* Forth Section: Featured Article; */

.ufa-title{
	padding-top: 110px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.ufa-details{
	padding-top: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	color: #212121;
}

.ufa-post{
	margin: 100px 0 140px 0;
	background-color: #222222;
	width: 368px;
	height: 368px;
}

.ufa-post-title{
	padding-top: 65px;
	padding-left: 40px;
	color:#eeeeee;
	font-size: 14px;
}

.ufa-post-details{
	padding-top: 15px;
	padding-left: 40px;
	color:#eeeeee;
}

.ufa-post-pp{
	padding: 85px 0 50px 40px;
	float: left;
	color:#eeeeee;
}
.ufa-post-author-title{
	padding: 95px 0 50px 20px;
	float: left;
	color:#eeeeee;
}

/*CLIENT slider section*/

.uni-client{
	margin: 110px 0 50px 0;
	text-align: center;
	background-color: red;
}
.uni-caption{
	padding-top: -95px;
	color:black;
}